<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>meme site</title>
    <style>
        p{text-align: center;
            font-size: 48px;
        }

        h1{
            text-align: center;
        }
        body{
            background-color: cadetblue;
        }
    </style>
</head>
<body>

    <h1>Meme website</h1>
    <p>here is a meme</p>
    <p><img src= "{{meme_pic}}"/></p>
    <p>Current Subreddit: {{subreddit}}</p>
    
</body>
</html>